<!doctype html>
<html ng-app="App">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Database Throwdown</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 90px;
      }
      td {
        font-size: 2em;
      }
    </style>
  </head>
  <body ng-controller="MainCtrl">
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Db Throwdown</a>
          <div class="pull-right">
          <a href="#" class="btn" ng-click="login('github')">
            <i class="icon-twitter"></i>
            Twitter
          </a>
          <a href="#" class="btn" ng-click="login('github')">
            <i class="icon-github-alt"></i>
            Github
          </a>
           <a href="#" class="btn" ng-click="login('persona')">
              <i class="icon-lock"></i>
              Persona
          </a>
          </div>
        </div>
        </nav>
      </div>
    </header>
    <div class="container"> 
      <table class="table">
        <tr>
          <th>Use Case</th>
          <th>Sql</th>
          <th>NoSql</th>
          <th colspan=2>Vote</th>
        </tr>
        <tr>
          <th>CRM</th>
          <td>{{crmSql.length}}</td>
          <td>{{crmNosql.length}}</td>
          <td>
            <button class="btn btn-primary" ng-click="vote('crmSql')" ng-disabled="crm">Sql</button>
          </td>          
          <td>
            <button class="btn btn-info" ng-click="vote('crmNosql')" ng-disabled="crm">NoSql</button>
          </td>
        </tr>
        <tr>
          <th>CMS</th>
          <td>{{cmsSql.length}}</td>
          <td>{{cmsNosql.length}}</td>
          <td>
            <button class="btn btn-primary" ng-click="vote('cmsSql')" ng-disabled="cms">Sql</button>
          </td>
          <td>
            <button class="btn btn-info" ng-click="vote('cmsNosql')" ng-disabled="cms">Nosql</button>
          </td>        
        </tr>
        <tr>
          <th>Social</th>
          <td>{{socSql.length}}</td>
          <td>{{socNosql.length}}</td>
          <td>
            <button class="btn btn-primary" ng-click="vote('socSql')" ng-disabled="soc">Sql</button>
          </td>
          <td>
            <button class="btn btn-info" ng-click="vote('socNosql')" ng-disabled="soc">NoSql</button>
          </td>
        </tr>
      </table>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script type='text/javascript'
              src='https://cdn.firebase.com/v0/firebase-simple-login.js'>
            </script>
    <script type='text/javascript'
              src='https://login.persona.org/include.js'>
            </script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="bower_components/angular-fire/angularFire.js"></script>
    <script>
      angular.module('App', ['firebase'])
        .controller('MainCtrl', function($scope, angularFire) {
          $scope.crm = true;
          $scope.cms = true;
          $scope.soc = true;
          var ref = new Firebase('https://throwdown.firebaseio.com');
          window.auth = new FirebaseSimpleLogin(ref, function(err, user) {
            if (err) { console.log(err); }
            if (user) {
              $scope.authorized = true;
              localStorage.setItem('user', user.id);
              if (user.id) {
                $scope.crm = false;
                $scope.cms = false;
                $scope.soc = false;
              }
            }
          });
          
          $scope.login = function(source) {
            auth.login(source);
          };

          var crmSqlUrl = 'https://throwdown.firebaseio.com/crmSql';
          angularFire(crmSqlUrl, $scope, 'crmSql', []);

          var crmNosqlUrl = 'https://throwdown.firebaseio.com/crmNosql';
          angularFire(crmNosqlUrl, $scope, 'crmNosql', []);

          var cmsSqlUrl = 'https://throwdown.firebaseio.com/cmsSql';
          angularFire(cmsSqlUrl, $scope, 'cmsSql', []);

          var cmsNosqlUrl = 'https://throwdown.firebaseio.com/cmsNosql';
          angularFire(cmsNosqlUrl, $scope, 'cmsNosql', []);

          var socSqlUrl = 'https://throwdown.firebaseio.com/socSql';
          angularFire(socSqlUrl, $scope, 'socSql', []);

          var socNosqlUrl = 'https://throwdown.firebaseio.com/socNosql';
          angularFire(socNosqlUrl, $scope, 'socNosql', []);

          $scope.vote = function(useCaseSelection) {
            var pre = useCaseSelection[0] + useCaseSelection[1] + 
              useCaseSelection[2];
            var user = localStorage.getItem('user');
            $scope[pre] = true;
            var noSql = $scope[pre + 'Nosql'];
            var sql = $scope[pre + 'Sql'];

            if (noSql.indexOf(user) < 0 && sql.indexOf(user) < 0) {
              $scope[useCaseSelection].push(user);
            } else {
              alert('Already Voted!');
            }
          };
        });
    </script>
  </body>
</html>
